.header-content {
    min-height: 75vh;
    background: linear-gradient(rgba(164, 132, 27, 0.158), rgba(132, 105, 14, 0.5)), url("../../assets/Bok.png") center/cover no-repeat;
    flex-direction: column;
  }
  .header-title {
    font-size: 4.2rem;
  }
  .header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
  }